<configuration>
    # Console appender
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"petShop"}</customFields>
        </encoder>
    </appender>

    # File appender
    <appender name="fout" class="ch.qos.logback.core.FileAppender">
        <file>petshop.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"petShop"}</customFields>
        </encoder>
        <append>false</append>
    </appender>

    # Override log level for specified
    <logger name="com.petShop.log4j" level="TRACE"/>
    <logger name="org" level="WARNING" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="fout" />
    </root>
</configuration>